<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>哈工大圈子-首页</title>
	<link href="#springUrl('/resources/css/bootstrap-theme.min.css')" rel="stylesheet" type="text/css"/>
	<link href="#springUrl('/resources/css/bootstrap.min.css')" rel="stylesheet" type="text/css"/>
	<link href="#springUrl('/resources/css/global_style.css')" rel="stylesheet" type="text/css"/>
	<script src="#springUrl('/resources/js/jquery-2.1.4.min.js')"></script>
	<script src="#springUrl('/resources/js/bootstrap.min.js')"></script>
	<script src="#springUrl('/resources/js/index_app/app.js')"></script>
</head>
<body>
	#parse("nav.vm")
	#nav()
	<div class="container" style="padding-top: 70px">

		<div class="row">
			<div class="col-sm-9">
				<div class="panel panel-default" id="panel_1">
					<div class="panel-heading">
						热点新闻
					</div>
					<div class="panel-body">
						#foreach($title in $hotNews)
							<table class="table">
								<tr>
									<td><a href="news?id=${title.newsId}">${title.title}</a></td>
								</tr>
							</table>
						#end
					</div>
				</div>

				<div class="panel panel-default" id="panel_2">
					<div class="panel-heading">
						热点人物
					</div>
					<div class="panel-body">
						#foreach($title in $hotPeople)
							<table class="table">
								<tr>
									<td><a href="news?id=${title.newsId}">${title.title}</a></td>
								</tr>
							</table>
						#end
					</div>
				</div>

				<div class="panel panel-default" id="panel_3">
					<div class="panel-heading">
						热点话题
					</div>
					<div class="panel-body">
						#foreach($title in $hotTopic)
							<table class="table">
								<tr>
									<td><a href="news?id=${title.newsId}">${title.title}</a></td>
								</tr>
							</table>
						#end
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked" role="tablist">
							<li role="presentation" id="sub_nav_1"><a href="javascript:void(0);" onclick="show_panel_1()">热点新闻</a></li>
							<li role="presentation" id="sub_nav_2"><a href="javascript:void(0);" onclick="show_panel_2()">热点人物</a></li>
							<li role="presentation" id="sub_nav_3"><a href="javascript:void(0);" onclick="show_panel_3()">热点话题</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
</html>