<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>哈工大圈子-首页</title>
	<link href="resources/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<script src="resources/js/jquery-2.1.4.min.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">哈工大圈子</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!--主标题右侧链接组-->
					<li><a href="#">哈工大热点</a></li>
					<li><a href="#">讨论组</a></li>
					<li><a href="#">关于我们</a></li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="站内搜索">
					</div>
					<button type="submit" class="btn btn-default">搜索</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
						   data-toggle="dropdown">加入我们 <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">登陆</a></li>
							<li><a href="#">注册</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">

		<div class="panel panel-primary">
			<div class="panel-heading">
				热点新闻
			</div>
			<div class="panel-body">
				#foreach($title in $hotNews)
					<table class="table">
						<tr>
							<td>$title.title</td>
						</tr>
					</table>
				#end
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				热点人物
			</div>
			<div class="panel-body">
				#foreach($title in $hotPeople)
					<table class="table">
						<tr>
							<td>$title.title</td>
						</tr>
					</table>
				#end
			</div>
		</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				热点话题
			</div>
			<div class="panel-body">
				#foreach($title in $hotTopic)
					<table class="table">
						<tr>
							<td>$title.title</td>
						</tr>
					</table>
				#end
			</div>
		</div>

	</div>
</body>
</html>