<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>哈工大圈子-首页</title>
	<link href="#springUrl('/resources/css/bootstrap-theme.min.css')" rel="stylesheet" type="text/css"/>
	<link href="#springUrl('/resources/css/bootstrap.min.css')" rel="stylesheet" type="text/css"/>
	<link href="#springUrl('/resources/css/global_style.css')" rel="stylesheet" type="text/css"/>
	<script src="#springUrl('/resources/js/jquery-2.1.4.min.js')"></script>
	<script src="#springUrl('/resources/js/bootstrap.min.js')"></script>
	<script src="#springUrl('/resources/js/news_app/app.js')"></script>
</head>
<body>
	#parse("nav.vm")
	#nav()
<div class="container" style="padding-top: 70px">

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					$news.title
				</div>
				<div class="panel-body">
					$news.content
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					评论
				</div>
				<div class="panel-body">
					<ul class="list-group">
						#foreach($reply in $newsReplyList)
							<li class="list-group-item">
								<a href="/user_page?user_id=${reply.user.userId}">$reply.user.username</a>:  $reply.content
							</li>
						#end
					</ul>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					发表评论
				</div>
				<div class="panel-body">
					<form role="form" action="news" method="post" id="form" onsubmit="return check();">
						<input type="text" class="sr-only" name="newsId" value="${news.newsId}" />
						<div class="form-group">
							<label class="control-label sr-only" for="content"></label>
							#springBind("newsReplyFormBean.content")
							<textarea name="content" class="form-control" id="content"
									#if(!$user)
										disabled="disabled" placeholder="请先登陆"
									#else
									  placeholder="说点什么..."
									#end
									></textarea>
							<p class="help-block" style="color: red" id="reply_help"></p>
							<p class="help-block" style="color: red">$!{replyError}</p>
						</div>
						<input type="submit" value="提交" class="btn btn-default"/>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
</html>